<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link rel="stylesheet" href="game.css">
</head>
<body >

<!--implementing ships html code --------------------------------------------------------->


<!--    horizental ships-->
<div>battleship</div>
<div id="battleship" class="battleship" data-width="4" data-height="1" draggable="true"></div>

<div>carrier</div>
<div id="carrier" class="carrier" data-width="5" data-height="1" draggable="true"></div>

<div>patrolBoatdiv</div>
<div id="patrolBoat" class="patrolBoat" data-width="2" data-height="1" draggable="true"></div>

<div>submarine</div>
<div id="submarine" class="submarine" data-width="3" data-height="1" draggable="true"></div>

<div>destroyer</div>
<div id="destroyer" class="destroyer" data-width="3" data-height="1" draggable="true"></div>

<!--    horizental ships-->


<div id="hitTable">
<table>
    <tbody>
    <tr>
        <td rowspan="2">Turn</td>
        <td rowspan="2">ship</td>
        <td colspan="2">Hits on Oopponent</td>
        <td colspan="2">Hits on you</td>
    </tr>

    <tr>

        <td>Hits</td>
        <td>left</td>
        <td>Hits</td>
        <td>left</td>
    </tr>
    <tr v-for="hits in allTheHits">

       <!--<td v-for="(value, key) in allTheHits">{{key}}</td>-->
       <td v-for="key in hits">{{key}}</td>



    </tr>


    </tbody>

</table>
</div>






<!--implementing ships html code --------------------------------------------------------->



<div id="grid">
    <p>Your Ships</p>
<p>{{you}}(you)</p>
<p>VS</p>
<p>{{opponent}}(opponent)</p>

    <button id="addShips">Add Ships</button>
    <table >

<tbody ></tbody>

</table>
</div>


<button id="addSalvos">Add salvos</button>
<div id="salvoGrid">
    <p>Your Salvos</p>

    <table>
        <tbody>

        </tbody>
    </table>


</div>




<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>you can add maximum 5 slavos per turn!!!</p>
    </div>

</div>



</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="game.js"></script>
</html>